/*
        Name:           Erik Hayward
        Student #:      100626845
        Date created:   June 23rd, 2024
        Description:    Creating cool looking boxes. 
    */
html {
    font-family: sans-serif;
  }

  /* Your CSS below here */